Algebra-chapter-0-solution.aux
Algebra-chapter-0-solution.bbl
Algebra-chapter-0-solution.blg
Algebra-chapter-0-solution.fdb_latexmk
Algebra-chapter-0-solution.fls
Algebra-chapter-0-solution.log
Algebra-chapter-0-solution.synctex.gz
Algebra-chapter-0-solution.synctex.gz
Algebra-chapter-0-solution.toc
template copy.synctex.gz
template copy.pdf
template copy.tex
ac0.code-workspace
